.meals-form {
    margin: auto 0;
}

.form-control {
    margin-bottom: 10px;
    color: #021c2bf1;
}

.form-control label {
    font-weight: 700;
    margin: 0 10px;
}

.form-control input {
    border-radius: 40px;
    border: 1px solid #021c2bf1;
    padding: 5px 5px 5px 20px;
    height: 40px;
}
