header {
    background-color: #399ED3;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}

.app-name {
    font-size: 30px;
    color: white;
}

.logo {
    text-decoration: none;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar li {
    margin: auto 20px;
}

.nav-btn {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.active {
    color: #1a638a;
}