* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.success {
  padding-top: 100px;
  margin-bottom: 0;
  background-color: rgb(126, 248, 147);
  text-align: center;
}

.success p {
  color: #000e16;
  font-weight: 600;
  margin: 0;
  padding: 20px 0 30px;
}
