* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.hero-section {
  position: relative;
  background-image: url('imgs/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 71%, 0 95%);
}

.text-block {
  position: absolute;
  top: 35%;
  left: 22%;
  color: white;
  margin: auto;
  text-align: center;
  background-color: #1a638aa1;
  padding: 20px 80px;
  border-radius: 10px;
}

.text-header {
  font-size: 30px;
}
